{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/subscription/create": {
      "post": {
        "description": "Cria uma nova assinatura",
        "requestBody": {
          "description": "Assinatura para ser criada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewSubscription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta quando der sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponseSuccess"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/search": {
      "post": {
        "description": "Busca uma lista de assinatura",
        "requestBody": {
          "description": "Filtros para busca",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta quando der sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSubscriptionResponseSuccess"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/create-planless": {
      "post": {
        "description": "Cria uma nova assinatura sem plano",
        "requestBody": {
          "description": "Assinatura para ser criada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionWithoutPlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta quando der sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionWithoutPlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/cancel": {
      "delete": {
        "description": "Cancela uma assinatura",
        "requestBody": {
          "description": "Assinatura para ser cancelada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionCancelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta quando der sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customer/create":  {
      "post": {
        "description": "Cria um novo cliente",
        "requestBody": {
          "description": "Cliente para ser criado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta quando der sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customer/edit": {
      "post": {
        "description": "Cria uma nova assinatura",
        "requestBody": {
          "description": "Assinatura para ser criada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta quando der sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerEditResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plan/create": {
      "post": {
        "description": "Cria uma nova assinatura",
        "requestBody": {
          "description": "Assinatura para ser criada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta quando der sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plan/edit": {
      "post": {
        "description": "Cria uma nova assinatura",
        "requestBody": {
          "description": "Assinatura para ser criada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanEditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta quando der sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanEditResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "SubscriptionRequest": {
        "required": [
          "cliente",
          "cartao",
          "installments",
          "plano_id",
          "metodo_pagamento",
          "cliente_id",
          "codigo"
        ],
        "type": "object",
        "properties": {
          "cliente": {
            "type": "object",
            "properties": {
              "nome": {
                "description": "Nome do cliente",
                "type": "string"
              },
              "email": {
                "description": "E-mail do cliente",
                "type": "string"
              }
            }
          },
          "cartao": {
            "type": "object",
            "properties": {
              "numero": {
                "description": "Número do cartão. Ex: 5586953991367179",
                "type": "string"
              },
              "nome": {
                "description": "Nome do cliente no cartão. Ex: Tony Stark",
                "type": "string"
              },
              "exp_mes": {
                "description": "Mês de validade do cartão. Ex: 7",
                "type": "string"
              },
              "exp_ano": {
                "description": "Ano de validade do cartão. Ex: 2029",
                "type": "string"
              },
              "cvv": {
                "description": "Código cvv do cartão. Ex: 123",
                "type": "string"
              }
            }
          },
          "installments": {
            "description": "Quantidade de parcelas. Ex: 1",
            "type": "string"
          },
          "plano_id": {
            "description": "Plano id criado pelo pagarme Ex: plan_21r4CTG0ux77Qv13",
            "type": "string"
          },
          "metodo_pagamento": {
            "description": "Método de pagamento. Ex: credit_card",
            "type": "string"
          },
          "cliente_id": {
            "description": "Cliente id gerado pelo pagarme. Ex: cus_5WjRApVfdfx7XKr3",
            "type": "string"
          },
          "codigo": {
            "description": "Código da assinatura no sistema da uniodonto. Ex: 543723",
            "type": "string"
          }
        }
      },
      "SubscriptionResponseSuccess": {
        "description": "Resposta da operação de assinatura",
        "required": [
          "assinatura",
          "status",
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "assinatura": {
            "description": "Detalhes da assinatura",
            "type": "object",
            "properties": {
              "id": {
                "description": "Identificação única da assinatura",
                "type": "string"
              },
              "code": {
                "description": "Código da assinatura",
                "type": "string"
              },
              "start_at": {
                "description": "Data de início da assinatura",
                "type": "string",
                "format": "date-time"
              },
              "interval": {
                "description": "Intervalo de cobrança",
                "type": "string"
              },
              "interval_count": {
                "description": "Número de intervalos",
                "type": "integer"
              },
              "billing_type": {
                "description": "Tipo de faturamento",
                "type": "string"
              },
              "current_cycle": {
                "description": "Detalhes do ciclo atual",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do ciclo atual",
                    "type": "string"
                  },
                  "start_at": {
                    "description": "Data de início do ciclo atual",
                    "type": "string",
                    "format": "date-time"
                  },
                  "end_at": {
                    "description": "Data de término do ciclo atual",
                    "type": "string",
                    "format": "date-time"
                  },
                  "billing_at": {
                    "description": "Data de faturamento do ciclo atual",
                    "type": "string",
                    "format": "date-time"
                  },
                  "status": {
                    "description": "Status do ciclo atual",
                    "type": "string"
                  },
                  "cycle": {
                    "description": "Número do ciclo",
                    "type": "integer"
                  }
                }
              },
              "next_billing_at": {
                "description": "Próxima data de faturamento",
                "type": "string",
                "format": "date-time"
              },
              "payment_method": {
                "description": "Método de pagamento",
                "type": "string"
              },
              "currency": {
                "description": "Moeda",
                "type": "string"
              },
              "installments": {
                "description": "Número de parcelas",
                "type": "integer"
              },
              "status": {
                "description": "Status da assinatura",
                "type": "string"
              },
              "created_at": {
                "description": "Data de criação da assinatura",
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "description": "Data de atualização da assinatura",
                "type": "string",
                "format": "date-time"
              },
              "customer": {
                "description": "Detalhes do cliente",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do cliente",
                    "type": "string"
                  },
                  "name": {
                    "description": "Nome do cliente",
                    "type": "string"
                  },
                  "email": {
                    "description": "Endereço de e-mail do cliente",
                    "type": "string"
                  },
                  "code": {
                    "description": "Código do cliente",
                    "type": "string"
                  },
                  "document": {
                    "description": "Número do documento do cliente",
                    "type": "string"
                  },
                  "document_type": {
                    "description": "Tipo de documento do cliente",
                    "type": "string"
                  },
                  "type": {
                    "description": "Tipo de cliente",
                    "type": "string"
                  },
                  "gender": {
                    "description": "Gênero do cliente",
                    "type": "string"
                  },
                  "delinquent": {
                    "description": "Indica se o cliente está inadimplente",
                    "type": "boolean"
                  },
                  "created_at": {
                    "description": "Data de criação do cliente",
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "description": "Data de atualização do cliente",
                    "type": "string",
                    "format": "date-time"
                  },
                  "birthdate": {
                    "description": "Data de nascimento do cliente",
                    "type": "string",
                    "format": "date-time"
                  },
                  "phones": {
                    "description": "Detalhes dos telefones do cliente",
                    "type": "object"
                  }
                }
              },
              "card": {
                "description": "Detalhes do cartão de crédito",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do cartão",
                    "type": "string"
                  },
                  "first_six_digits": {
                    "description": "Primeiros seis dígitos do cartão",
                    "type": "string"
                  },
                  "last_four_digits": {
                    "description": "Últimos quatro dígitos do cartão",
                    "type": "string"
                  },
                  "brand": {
                    "description": "Bandeira do cartão",
                    "type": "string"
                  },
                  "holder_name": {
                    "description": "Nome do titular do cartão",
                    "type": "string"
                  },
                  "exp_month": {
                    "description": "Mês de expiração do cartão",
                    "type": "integer"
                  },
                  "exp_year": {
                    "description": "Ano de expiração do cartão",
                    "type": "integer"
                  },
                  "status": {
                    "description": "Status do cartão",
                    "type": "string"
                  },
                  "type": {
                    "description": "Tipo de cartão",
                    "type": "string"
                  },
                  "created_at": {
                    "description": "Data de criação do cartão",
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "description": "Data de atualização do cartão",
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "plan": {
                "description": "Detalhes do plano",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do plano",
                    "type": "string"
                  },
                  "name": {
                    "description": "Nome do plano",
                    "type": "string"
                  },
                  "url": {
                    "description": "URL do plano",
                    "type": "string"
                  },
                  "interval": {
                    "description": "Intervalo de cobrança do plano",
                    "type": "string"
                  },
                  "interval_count": {
                    "description": "Número de intervalos do plano",
                    "type": "integer"
                  },
                  "billing_type": {
                    "description": "Tipo de faturamento do plano",
                    "type": "string"
                  },
                  "payment_methods": {
                    "description": "Métodos de pagamento aceitos pelo plano",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "installments": {
                    "description": "Número de parcelas permitidas pelo plano",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "status": {
                    "description": "Status do plano",
                    "type": "string"
                  },
                  "currency": {
                    "description": "Moeda do plano",
                    "type": "string"
                  },
                  "created_at": {
                    "description": "Data de criação do plano",
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "description": "Data de atualização do plano",
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "items": {
                "description": "Itens incluídos na assinatura",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificação única do item",
                      "type": "string"
                    },
                    "name": {
                      "description": "Nome do item",
                      "type": "string"
                    },
                    "description": {
                      "description": "Descrição do item",
                      "type": "string"
                    },
                    "quantity": {
                      "description": "Quantidade do item",
                      "type": "integer"
                    },
                    "status": {
                      "description": "Status do item",
                      "type": "string"
                    },
                    "created_at": {
                      "description": "Data de criação do item",
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "description": "Data de atualização do item",
                      "type": "string",
                      "format": "date-time"
                    },
                    "pricing_scheme": {
                      "description": "Esquema de precificação do item",
                      "type": "object",
                      "properties": {
                        "price": {
                          "description": "Preço do item",
                          "type": "integer"
                        },
                        "scheme_type": {
                          "description": "Tipo de esquema de precificação",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "boleto": {
                "description": "Detalhes do boleto, se aplicável",
                "type": "object"
              }
            }
          },
          "status": {
            "description": "Status da operação",
            "type": "string"
          },
          "code": {
            "description": "Código da operação",
            "type": "string"
          },
          "message": {
            "description": "Mensagem descritiva da operação",
            "type": "string"
          }
        }
      },
      "NewSubscription": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SubscriptionRequest"
          }
        ]
      },
      "SearchSubscriptionRequest": {
        "type": "object",
        "properties": {
          "status": {
            "description": "Status da assinatura, valores possíveis: active, canceled ou future",
            "type": "string"
          },
            "codigo_assinatura": {
                "description": "Código da assinatura no sistema da loja. Máx.: 52 caracteres",
                "type": "string"
            },
          "tipo_cobranca": {
            "description": "Tipo de cobrança, Valores possíveis: prepaid, postpaid ou exact_day.",
            "type": "string"
          },
          "cliente_id": {
            "description": "Identificação do cliente",
            "type": "string"
          },
          "plano_id": {
            "description": "Identificação do plano",
            "type": "string"
          },
          "data_inicio_periodo_criacao": {
            "description": "Data de início da próxima data de cobrança.",
            "type": "string",
            "format": "date-time"
          },
          "data_final_periodo_criacao": {
            "description": "Data de término do período de criação",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SearchSubscriptionResponseSuccess": {
        "description": "Resposta da operação de assinatura",
        "required": [
          "assinatura",
          "status",
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "assinatura": {
            "description": "Detalhes da assinatura",
            "type": "object",
            "properties": {
              "data": {
                "description": "Lista de assinaturas",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificação única da assinatura",
                      "type": "string"
                    },
                    "code": {
                      "description": "Código da assinatura",
                      "type": "string"
                    },
                    "start_at": {
                      "description": "Data de início da assinatura",
                      "type": "string",
                      "format": "date-time"
                    },
                    "interval": {
                      "description": "Intervalo de cobrança",
                      "type": "string"
                    },
                    "interval_count": {
                      "description": "Número de intervalos",
                      "type": "integer"
                    },
                    "billing_type": {
                      "description": "Tipo de faturamento",
                      "type": "string"
                    },
                    "current_cycle": {
                      "description": "Detalhes do ciclo atual",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Identificação única do ciclo atual",
                          "type": "string"
                        },
                        "start_at": {
                          "description": "Data de início do ciclo atual",
                          "type": "string",
                          "format": "date-time"
                        },
                        "end_at": {
                          "description": "Data de término do ciclo atual",
                          "type": "string",
                          "format": "date-time"
                        },
                        "billing_at": {
                          "description": "Data de faturamento do ciclo atual",
                          "type": "string",
                          "format": "date-time"
                        },
                        "status": {
                          "description": "Status do ciclo atual",
                          "type": "string"
                        },
                        "cycle": {
                          "description": "Número do ciclo",
                          "type": "integer"
                        }
                      }
                    },
                    "next_billing_at": {
                      "description": "Próxima data de faturamento",
                      "type": "string",
                      "format": "date-time"
                    },
                    "payment_method": {
                      "description": "Método de pagamento",
                      "type": "string"
                    },
                    "currency": {
                      "description": "Moeda",
                      "type": "string"
                    },
                    "installments": {
                      "description": "Número de parcelas",
                      "type": "integer"
                    },
                    "minimum_price": {
                      "description": "Preço mínimo",
                      "type": "integer"
                    },
                    "status": {
                      "description": "Status da assinatura",
                      "type": "string"
                    },
                    "created_at": {
                      "description": "Data de criação da assinatura",
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "description": "Data de atualização da assinatura",
                      "type": "string",
                      "format": "date-time"
                    },
                    "customer": {
                      "description": "Detalhes do cliente",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Identificação única do cliente",
                          "type": "string"
                        },
                        "name": {
                          "description": "Nome do cliente",
                          "type": "string"
                        },
                        "email": {
                          "description": "Endereço de e-mail do cliente",
                          "type": "string"
                        },
                        "code": {
                          "description": "Código do cliente",
                          "type": "string"
                        },
                        "document": {
                          "description": "Número do documento do cliente",
                          "type": "string"
                        },
                        "document_type": {
                          "description": "Tipo de documento do cliente",
                          "type": "string"
                        },
                        "type": {
                          "description": "Tipo de cliente",
                          "type": "string"
                        },
                        "gender": {
                          "description": "Gênero do cliente",
                          "type": "string"
                        },
                        "delinquent": {
                          "description": "Indica se o cliente está inadimplente",
                          "type": "boolean"
                        },
                        "created_at": {
                          "description": "Data de criação do cliente",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "description": "Data de atualização do cliente",
                          "type": "string",
                          "format": "date-time"
                        },
                        "birthdate": {
                          "description": "Data de nascimento do cliente",
                          "type": "string",
                          "format": "date-time"
                        },
                        "phones": {
                          "description": "Detalhes dos telefones do cliente",
                          "type": "object"
                        }
                      }
                    },
                    "card": {
                      "description": "Detalhes do cartão de crédito",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Identificação única do cartão",
                          "type": "string"
                        },
                        "first_six_digits": {
                          "description": "Primeiros seis dígitos do cartão",
                          "type": "string"
                        },
                        "last_four_digits": {
                          "description": "Últimos quatro dígitos do cartão",
                          "type": "string"
                        },
                        "brand": {
                          "description": "Bandeira do cartão",
                          "type": "string"
                        },
                        "holder_name": {
                          "description": "Nome do titular do cartão",
                          "type": "string"
                        },
                        "exp_month": {
                          "description": "Mês de expiração do cartão",
                          "type": "integer"
                        },
                        "exp_year": {
                          "description": "Ano de expiração do cartão",
                          "type": "integer"
                        },
                        "status": {
                          "description": "Status do cartão",
                          "type": "string"
                        },
                        "type": {
                          "description": "Tipo de cartão",
                          "type": "string"
                        },
                        "created_at": {
                          "description": "Data de criação do cartão",
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "description": "Data de atualização do cartão",
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "items": {
                      "description": "Itens incluídos na assinatura",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Identificação única do item",
                            "type": "string"
                          },
                          "description": {
                            "description": "Descrição do item",
                            "type": "string"
                          },
                          "quantity": {
                            "description": "Quantidade do item",
                            "type": "integer"
                          },
                          "status": {
                            "description": "Status do item",
                            "type": "string"
                          },
                          "created_at": {
                            "description": "Data de criação do item",
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "description": "Data de atualização do item",
                            "type": "string",
                            "format": "date-time"
                          },
                          "pricing_scheme": {
                            "description": "Esquema de precificação do item",
                            "type": "object",
                            "properties": {
                              "price": {
                                "description": "Preço do item",
                                "type": "integer"
                              },
                              "minimum_price": {
                                "description": "Preço mínimo do item",
                                "type": "integer"
                              },
                              "scheme_type": {
                                "description": "Tipo de esquema de precificação",
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "boleto": {
                      "description": "Detalhes do boleto, se aplicável",
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "status": {
            "description": "Status da operação",
            "type": "string"
          },
          "code": {
            "description": "Código da operação",
            "type": "string"
          },
          "message": {
            "description": "Mensagem descritiva da operação",
            "type": "string"
          }
        }
      },
      "SubscriptionWithoutPlanRequest": {
        "required": [
          "cartao",
          "preco",
          "installments",
          "metodo_pagamento",
          "cliente_id",
          "codigo",
          "descricao"
        ],
        "type": "object",
        "properties": {
          "cartao": {
            "description": "Detalhes do cartão de crédito",
            "type": "object",
            "properties": {
              "numero": {
                "description": "Número do cartão",
                "type": "string"
              },
              "nome": {
                "description": "Nome do titular do cartão",
                "type": "string"
              },
              "exp_mes": {
                "description": "Mês de expiração do cartão",
                "type": "string"
              },
              "exp_ano": {
                "description": "Ano de expiração do cartão",
                "type": "string"
              },
              "cvv": {
                "description": "Código de segurança do cartão",
                "type": "string"
              }
            }
          },
          "preco": {
            "description": "Detalhes do preço",
            "type": "object",
            "properties": {
              "tipo": {
                "description": "Tipo de preço",
                "type": "string"
              },
              "valor": {
                "description": "Valor do preço",
                "type": "integer"
              }
            }
          },
          "installments": {
            "description": "Número de parcelas",
            "type": "string"
          },
          "metodo_pagamento": {
            "description": "Método de pagamento",
            "type": "string"
          },
          "cliente_id": {
            "description": "Identificação única do cliente",
            "type": "string"
          },
          "codigo": {
            "description": "Código da transação",
            "type": "string"
          },
          "descricao": {
            "description": "Descrição da transação",
            "type": "string"
          }
        }
      },
      "SubscriptionWithoutPlanResponse": {
        "description": "Resposta da operação de assinatura",
        "required": ["assinatura", "status", "code", "message"],
        "type": "object",
        "properties": {
          "assinatura": {
            "description": "Detalhes da assinatura",
            "type": "object",
            "properties": {
              "id": {
                "description": "Identificação única da assinatura",
                "type": "string",
                "example": "sub_vq8Ok9eTKTRkQ90e"
              },
              "code": {
                "description": "Código da assinatura",
                "type": "string",
                "example": "sdfsf"
              },
              "start_at": {
                "description": "Data de início da assinatura",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-06T00:00:00Z"
              },
              "interval": {
                "description": "Intervalo de cobrança",
                "type": "string",
                "example": "month"
              },
              "interval_count": {
                "description": "Número de intervalos",
                "type": "integer",
                "example": 1
              },
              "billing_type": {
                "description": "Tipo de faturamento",
                "type": "string",
                "example": "prepaid"
              },
              "current_cycle": {
                "description": "Detalhes do ciclo atual",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do ciclo atual",
                    "type": "string",
                    "example": "cycle_4kOmBaDiLi75vXVP"
                  },
                  "start_at": {
                    "description": "Data de início do ciclo atual",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-06T00:00:00Z"
                  },
                  "end_at": {
                    "description": "Data de término do ciclo atual",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-12-05T23:59:59Z"
                  },
                  "billing_at": {
                    "description": "Data de faturamento do ciclo atual",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-06T00:00:00Z"
                  },
                  "status": {
                    "description": "Status do ciclo atual",
                    "type": "string",
                    "example": "billed"
                  },
                  "cycle": {
                    "description": "Número do ciclo",
                    "type": "integer",
                    "example": 1
                  }
                }
              },
              "next_billing_at": {
                "description": "Próxima data de faturamento",
                "type": "string",
                "format": "date-time",
                "example": "2023-12-06T00:00:00Z"
              },
              "payment_method": {
                "description": "Método de pagamento",
                "type": "string",
                "example": "credit_card"
              },
              "currency": {
                "description": "Moeda",
                "type": "string",
                "example": "BRL"
              },
              "installments": {
                "description": "Número de parcelas",
                "type": "integer",
                "example": 1
              },
              "minimum_price": {
                "description": "Preço mínimo",
                "type": "integer",
                "example": 100
              },
              "status": {
                "description": "Status da assinatura",
                "type": "string",
                "example": "failed"
              },
              "created_at": {
                "description": "Data de criação da assinatura",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-06T19:43:19Z"
              },
              "updated_at": {
                "description": "Data de atualização da assinatura",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-06T19:43:19Z"
              },
              "customer": {
                "description": "Detalhes do cliente",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do cliente",
                    "type": "string",
                    "example": "cus_b0kYqzNs6soq82dD"
                  },
                  "name": {
                    "description": "Nome do cliente",
                    "type": "string",
                    "example": "William Koerich"
                  },
                  "email": {
                    "description": "Endereço de e-mail do cliente",
                    "type": "string",
                    "example": "william.koerich@qu4ttro.com.br"
                  },
                  "code": {
                    "description": "Código do cliente",
                    "type": "string",
                    "example": "TESTE01"
                  },
                  "document": {
                    "description": "Número do documento do cliente",
                    "type": "string",
                    "example": "10079514944"
                  },
                  "document_type": {
                    "description": "Tipo de documento do cliente",
                    "type": "string",
                    "example": "cpf"
                  },
                  "type": {
                    "description": "Tipo de cliente",
                    "type": "string",
                    "example": "individual"
                  },
                  "gender": {
                    "description": "Gênero do cliente",
                    "type": "string",
                    "example": "male"
                  },
                  "delinquent": {
                    "description": "Indica se o cliente está inadimplente",
                    "type": "boolean",
                    "example": false
                  },
                  "created_at": {
                    "description": "Data de criação do cliente",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T17:29:50Z"
                  },
                  "updated_at": {
                    "description": "Data de atualização do cliente",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T17:29:50Z"
                  },
                  "birthdate": {
                    "description": "Data de nascimento do cliente",
                    "type": "string",
                    "format": "date-time",
                    "example": "2001-12-01T00:00:00Z"
                  },
                  "phones": {
                    "description": "Detalhes dos telefones do cliente",
                    "type": "object",
                    "example": {}
                  }
                }
              },
              "card": {
                "description": "Detalhes do cartão de crédito",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do cartão",
                    "type": "string",
                    "example": "card_5jbVE0zI5IVZm7pR"
                  },
                  "first_six_digits": {
                    "description": "Primeiros seis dígitos do cartão",
                    "type": "string",
                    "example": "550209"
                  },
                  "last_four_digits": {
                    "description": "Últimos quatro dígitos do cartão",
                    "type": "string",
                    "example": "5248"
                  },
                  "brand": {
                    "description": "Bandeira do cartão",
                    "type": "string",
                    "example": "Mastercard"
                  },
                  "holder_name": {
                    "description": "Nome do titular do cartão",
                    "type": "string",
                    "example": "William Koerich"
                  },
                  "exp_month": {
                    "description": "Mês de expiração do cartão",
                    "type": "integer",
                    "example": 7
                  },
                  "exp_year": {
                    "description": "Ano de expiração do cartão",
                    "type": "integer",
                    "example": 2029
                  },
                  "status": {
                    "description": "Status do cartão",
                    "type": "string",
                    "example": "active"
                  },
                  "type": {
                    "description": "Tipo de cartão",
                    "type": "string",
                    "example": "credit"
                  },
                  "created_at": {
                    "description": "Data de criação do cartão",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T18:49:36Z"
                  },
                  "updated_at": {
                    "description": "Data de atualização do cartão",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-06T19:43:19Z"
                  }
                }
              },
              "items": {
                "description": "Itens incluídos na assinatura",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificação única do item",
                      "type": "string",
                      "example": "si_XPdWRQVTqTon5kw4"
                    },
                    "description": {
                      "description": "Descrição do item",
                      "type": "string",
                      "example": "asfsedgbusd0fpgshdfyo vsdfifdvui"
                    },
                    "quantity": {
                      "description": "Quantidade do item",
                      "type": "integer",
                      "example": 1
                    },
                    "status": {
                      "description": "Status do item",
                      "type": "string",
                      "example": "active"
                    },
                    "created_at": {
                      "description": "Data de criação do item",
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-11-06T19:43:19Z"
                    },
                    "updated_at": {
                      "description": "Data de atualização do item",
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-11-06T19:43:19Z"
                    },
                    "pricing_scheme": {
                      "description": "Esquema de precificação do item",
                      "type": "object",
                      "properties": {
                        "price": {
                          "description": "Preço do item",
                          "type": "integer",
                          "example": 100000000
                        },
                        "minimum_price": {
                          "description": "Preço mínimo do item",
                          "type": "integer",
                          "example": 100
                        },
                        "scheme_type": {
                          "description": "Tipo de esquema de precificação",
                          "type": "string",
                          "example": "unit"
                        }
                      }
                    }
                  }
                }
              },
              "boleto": {
                "description": "Detalhes do boleto, se aplicável",
                "type": "object",
                "example": {}
              }
            }
          },
          "status": {
            "description": "Status da operação",
            "type": "string",
            "example": "success"
          },
          "code": {
            "description": "Código da operação",
            "type": "string",
            "example": "200"
          },
          "message": {
            "description": "Mensagem descritiva da operação",
            "type": "string",
            "example": "Assinatura sem plano criada com sucesso!"
          }
        }
      },
      "SubscriptionCancelRequest": {
        "required": ["assinatura_id", "cancelar_cobrancas_pendentes"],
        "type": "object",
        "properties": {
          "assinatura_id": {
            "description": "Identificação única da assinatura a ser cancelada",
            "type": "string"
          },
          "cancelar_cobrancas_pendentes": {
            "description": "Indica se as cobranças pendentes devem ser canceladas",
            "type": "boolean"
          }
        }
      },
      "SubscriptionCancelResponse": {
        "type": "object",
        "properties": {
          "assinatura": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Identificação única da assinatura",
                "type": "string",
                "example": "sub_42KejYeCqC8j9zby"
              },
              "code": {
                "description": "Código da assinatura",
                "type": "string",
                "example": "sdfsf"
              },
              "start_at": {
                "description": "Data de início da assinatura",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-03T00:00:00Z"
              },
              "interval": {
                "description": "Intervalo de cobrança",
                "type": "string",
                "example": "month"
              },
              "interval_count": {
                "description": "Número de intervalos",
                "type": "integer",
                "example": 1
              },
              "billing_type": {
                "description": "Tipo de cobrança",
                "type": "string",
                "example": "prepaid"
              },
              "current_cycle": {
                "description": "Informações sobre o ciclo de cobrança atual",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do ciclo atual",
                    "type": "string",
                    "example": "cycle_GOMeZaDH4HBR5Wkx"
                  },
                  "start_at": {
                    "description": "Data de início do ciclo atual",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T00:00:00Z"
                  },
                  "end_at": {
                    "description": "Data de término do ciclo atual",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-12-02T23:59:59Z"
                  },
                  "billing_at": {
                    "description": "Data de cobrança do ciclo atual",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T00:00:00Z"
                  },
                  "status": {
                    "description": "Status do ciclo atual",
                    "type": "string",
                    "example": "billed"
                  },
                  "cycle": {
                    "description": "Número do ciclo",
                    "type": "integer",
                    "example": 1
                  }
                }
              },
              "next_billing_at": {
                "description": "Próxima data de cobrança",
                "type": "string",
                "format": "date-time",
                "example": "2023-12-03T00:00:00Z"
              },
              "payment_method": {
                "description": "Método de pagamento",
                "type": "string",
                "example": "credit_card"
              },
              "currency": {
                "description": "Moeda",
                "type": "string",
                "example": "BRL"
              },
              "installments": {
                "description": "Número de parcelas",
                "type": "integer",
                "example": 1
              },
              "status": {
                "description": "Status da assinatura",
                "type": "string",
                "example": "canceled"
              },
              "created_at": {
                "description": "Data de criação da assinatura",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-03T18:49:36Z"
              },
              "updated_at": {
                "description": "Data de atualização da assinatura",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-06T13:59:25Z"
              },
              "canceled_at": {
                "description": "Data de cancelamento da assinatura",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-06T13:59:25Z"
              },
              "customer": {
                "description": "Informações sobre o cliente",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do cliente",
                    "type": "string",
                    "example": "cus_b0kYqzNs6soq82dD"
                  },
                  "name": {
                    "description": "Nome do cliente",
                    "type": "string",
                    "example": "William Koerich"
                  },
                  "email": {
                    "description": "E-mail do cliente",
                    "type": "string",
                    "example": "william.koerich@qu4ttro.com.br"
                  },
                  "code": {
                    "description": "Código do cliente",
                    "type": "string",
                    "example": "TESTE01"
                  },
                  "document": {
                    "description": "Número do documento do cliente",
                    "type": "string",
                    "example": "10079514944"
                  },
                  "document_type": {
                    "description": "Tipo de documento do cliente",
                    "type": "string",
                    "example": "cpf"
                  },
                  "type": {
                    "description": "Tipo de cliente",
                    "type": "string",
                    "example": "individual"
                  },
                  "gender": {
                    "description": "Gênero do cliente",
                    "type": "string",
                    "example": "male"
                  },
                  "delinquent": {
                    "description": "Indica se o cliente está inadimplente",
                    "type": "boolean",
                    "example": false
                  },
                  "created_at": {
                    "description": "Data de criação do cliente",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T17:29:50Z"
                  },
                  "updated_at": {
                    "description": "Data de atualização do cliente",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T17:29:50Z"
                  },
                  "birthdate": {
                    "description": "Data de nascimento do cliente",
                    "type": "string",
                    "format": "date-time",
                    "example": "2001-12-01T00:00:00Z"
                  },
                  "phones": {
                    "description": "Informações sobre os telefones do cliente",
                    "type": "object",
                    "example": {}
                  }
                }
              },
              "card": {
                "description": "Informações sobre o cartão de crédito",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do cartão",
                    "type": "string",
                    "example": "card_5jbVE0zI5IVZm7pR"
                  },
                  "first_six_digits": {
                    "description": "Primeiros seis dígitos do cartão",
                    "type": "string",
                    "example": "550209"
                  },
                  "last_four_digits": {
                    "description": "Últimos quatro dígitos do cartão",
                    "type": "string",
                    "example": "5248"
                  },
                  "brand": {
                    "description": "Bandeira do cartão",
                    "type": "string",
                    "example": "Mastercard"
                  },
                  "holder_name": {
                    "description": "Nome do titular do cartão",
                    "type": "string",
                    "example": "William Koerich"
                  },
                  "exp_month": {
                    "description": "Mês de expiração do cartão",
                    "type": "integer",
                    "example": 7
                  },
                  "exp_year": {
                    "description": "Ano de expiração do cartão",
                    "type": "integer",
                    "example": 2029
                  },
                  "status": {
                    "description": "Status do cartão",
                    "type": "string",
                    "example": "active"
                  },
                  "type": {
                    "description": "Tipo de cartão",
                    "type": "string",
                    "example": "credit"
                  },
                  "created_at": {
                    "description": "Data de criação do cartão",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T18:49:36Z"
                  },
                  "updated_at": {
                    "description": "Data de atualização do cartão",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T18:49:36Z"
                  }
                }
              },
              "plan": {
                "description": "Informações sobre o plano da assinatura",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do plano",
                    "type": "string",
                    "example": "plan_ZArz7zlF8FaV6OBW"
                  },
                  "name": {
                    "description": "Nome do plano",
                    "type": "string",
                    "example": "Plano Gold"
                  },
                  "url": {
                    "description": "URL do plano",
                    "type": "string",
                    "example": "plans/plan_ZArz7zlF8FaV6OBW/uniodonto-administradora/plano-gold"
                  },
                  "interval": {
                    "description": "Intervalo de cobrança do plano",
                    "type": "string",
                    "example": "month"
                  },
                  "interval_count": {
                    "description": "Número de intervalos do plano",
                    "type": "integer",
                    "example": 1
                  },
                  "billing_type": {
                    "description": "Tipo de cobrança do plano",
                    "type": "string",
                    "example": "prepaid"
                  },
                  "payment_methods": {
                    "description": "Métodos de pagamento aceitos pelo plano",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "credit_card"
                    }
                  },
                  "installments": {
                    "description": "Número de parcelas do plano",
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "example": 1
                    }
                  },
                  "status": {
                    "description": "Status do plano",
                    "type": "string",
                    "example": "active"
                  },
                  "currency": {
                    "description": "Moeda do plano",
                    "type": "string",
                    "example": "BRL"
                  },
                  "created_at": {
                    "description": "Data de criação do plano",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T13:51:57Z"
                  },
                  "updated_at": {
                    "description": "Data de atualização do plano",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-03T13:51:57Z"
                  }
                }
              },
              "items": {
                "description": "Informações sobre os itens da assinatura",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificação única do item",
                      "type": "string",
                      "example": "si_regARy7tetOdjX8x"
                    },
                    "name": {
                      "description": "Nome do item",
                      "type": "string",
                      "example": "Plano Gold"
                    },
                    "description": {
                      "description": "Descrição do item",
                      "type": "string",
                      "example": "Plano Gold"
                    },
                    "quantity": {
                      "description": "Quantidade do item",
                      "type": "integer",
                      "example": 1
                    },
                    "status": {
                      "description": "Status do item",
                      "type": "string",
                      "example": "active"
                    },
                    "created_at": {
                      "description": "Data de criação do item",
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-11-03T18:49:36Z"
                    },
                    "updated_at": {
                      "description": "Data de atualização do item",
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-11-03T18:49:36Z"
                    },
                    "pricing_scheme": {
                      "description": "Esquema de precificação do item",
                      "type": "object",
                      "properties": {
                        "price": {
                          "description": "Preço do item",
                          "type": "integer",
                          "example": 1
                        },
                        "scheme_type": {
                          "description": "Tipo de esquema de precificação",
                          "type": "string",
                          "example": "unit"
                        }
                      }
                    }
                  }
                }
              },
              "boleto": {
                "description": "Informações sobre o boleto da assinatura",
                "type": "object",
                "example": {}
              }
            }
          },
          "status": {
            "description": "Status da operação",
            "type": "string",
            "example": "success"
          },
          "code": {
            "description": "Código da operação",
            "type": "string",
            "example": "200"
          },
          "message": {
            "description": "Mensagem descritiva da operação",
            "type": "string",
            "example": "Assinatura cancelada com sucesso!"
          }
        }
    },
      "CustomerRequest": {
        "required": [
          "nome",
          "email",
          "documento",
          "tipo_documento",
          "tipo_cliente",
          "genero",
          "code",
          "nascimento",
          "ddd",
          "telefone"
        ],
        "type": "object",
        "properties": {
          "nome": {
            "description": "Nome do cliente",
            "type": "string",
            "example": "William Koerich"
          },
          "email": {
            "description": "Endereço de e-mail do cliente",
            "type": "string",
            "example": "william.koerich@qu4ttro.com.br"
          },
          "documento": {
            "description": "Número do documento do cliente",
            "type": "integer",
            "example": 10079514944
          },
          "tipo_documento": {
            "description": "Tipo do documento (ex: CPF)",
            "type": "string",
            "example": "CPF"
          },
          "tipo_cliente": {
            "description": "Tipo do cliente (ex: individual)",
            "type": "string",
            "example": "individual"
          },
          "genero": {
            "description": "Gênero do cliente",
            "type": "string",
            "example": "male"
          },
          "code": {
            "description": "Código identificador do cliente",
            "type": "string",
            "example": "TESTE01"
          },
          "nascimento": {
            "description": "Data de nascimento do cliente (formato: dd/mm/yyyy)",
            "type": "string",
            "example": "12/01/2001"
          },
          "ddd": {
            "description": "Código de área do telefone",
            "type": "string",
            "example": "47"
          },
          "telefone": {
            "description": "Número do telefone",
            "type": "string",
            "example": "996348990"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "cliente": {
            "description": "Detalhes do cliente gerado",
            "type": "object",
            "properties": {
              "id": {
                "description": "Identificação única do cliente",
                "type": "string",
                "example": "cus_b0kYqzNs6soq82dD"
              },
              "name": {
                "description": "Nome do cliente",
                "type": "string",
                "example": "William Koerich"
              },
              "email": {
                "description": "Endereço de e-mail do cliente",
                "type": "string",
                "example": "william.koerich@qu4ttro.com.br"
              },
              "code": {
                "description": "Código identificador do cliente",
                "type": "string",
                "example": "TESTE01"
              },
              "document": {
                "description": "Número do documento do cliente",
                "type": "string",
                "example": "10079514944"
              },
              "document_type": {
                "description": "Tipo do documento do cliente",
                "type": "string",
                "example": "cpf"
              },
              "type": {
                "description": "Tipo do cliente (ex: individual)",
                "type": "string",
                "example": "individual"
              },
              "gender": {
                "description": "Gênero do cliente",
                "type": "string",
                "example": "male"
              },
              "delinquent": {
                "description": "Indica se o cliente está inadimplente",
                "type": "boolean",
                "example": false
              },
              "created_at": {
                "description": "Data de criação do cliente",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-03T17:29:50Z"
              },
              "updated_at": {
                "description": "Data de atualização do cliente",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-11T12:34:26Z"
              },
              "birthdate": {
                "description": "Data de nascimento do cliente",
                "type": "string",
                "format": "date-time",
                "example": "2001-12-01T00:00:00Z"
              },
              "phones": {
                "description": "Detalhes do telefone do cliente",
                "type": "object",
                "properties": {
                  "mobile_phone": {
                    "type": "object",
                    "properties": {
                      "country_code": {
                        "description": "Código do país",
                        "type": "string",
                        "example": "55"
                      },
                      "number": {
                        "description": "Número do telefone",
                        "type": "string",
                        "example": "996348990"
                      },
                      "area_code": {
                        "description": "Código de área do telefone",
                        "type": "string",
                        "example": "47"
                      }
                    }
                  }
                }
              }
            }
          },
          "status": {
            "description": "Status da operação",
            "type": "string",
            "example": "success"
          },
          "code": {
            "description": "Código de resposta",
            "type": "string",
            "example": "200"
          },
          "message": {
            "description": "Mensagem informativa sobre a operação",
            "type": "string",
            "example": "Cliente gerado com sucesso!"
          }
        }
      },
      "CustomerEditRequest": {
        "type": "object",
        "required": [
          "cliente_id",
          "nome",
          "email",
          "codigo",
          "documento",
          "tipo_documento",
          "tipo_cliente",
          "genero",
          "data_nascimento"
        ],
        "properties": {
          "cliente_id": {
            "description": "Identificação única do cliente",
            "type": "string",
            "example": "cus_5WjRApVfdfx7XKr3"
          },
          "nome": {
            "description": "Nome do cliente",
            "type": "string",
            "example": "Peter Parker"
          },
          "email": {
            "description": "Endereço de e-mail do cliente",
            "type": "string",
            "example": "parker@avengers.com"
          },
          "codigo": {
            "description": "Código identificador do cliente",
            "type": "string",
            "example": "123"
          },
          "documento": {
            "description": "Número do documento do cliente",
            "type": "string",
            "example": "10079514944"
          },
          "tipo_documento": {
            "description": "Tipo do documento do cliente",
            "type": "string",
            "example": "CPF"
          },
          "tipo_cliente": {
            "description": "Tipo do cliente (ex: individual)",
            "type": "string",
            "example": "individual"
          },
          "genero": {
            "description": "Gênero do cliente",
            "type": "string",
            "example": "male"
          },
          "data_nascimento": {
            "description": "Data de nascimento do cliente",
            "type": "string",
            "format": "date",
            "example": "2001-01-12"
          }
        }
      },
      "CustomerEditResponse": {
        "type": "object",
        "properties": {
          "cliente": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Identificação única do cliente",
                "type": "string",
                "example": "cus_5WjRApVfdfx7XKr3"
              },
              "name": {
                "description": "Nome do cliente",
                "type": "string",
                "example": "Peter Parker"
              },
              "email": {
                "description": "Endereço de e-mail do cliente",
                "type": "string",
                "example": "parker@avengers.com"
              },
              "code": {
                "description": "Código identificador do cliente",
                "type": "string",
                "example": "123"
              },
              "document": {
                "description": "Número do documento do cliente",
                "type": "string",
                "example": "10079514944"
              },
              "type": {
                "description": "Tipo do cliente (ex: individual)",
                "type": "string",
                "example": "individual"
              },
              "gender": {
                "description": "Gênero do cliente",
                "type": "string",
                "example": "male"
              },
              "delinquent": {
                "description": "Indica se o cliente está inadimplente",
                "type": "boolean",
                "example": false
              },
              "address": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificação única do endereço",
                    "type": "string",
                    "example": "addr_p7P1g7WSZSYgEdYl"
                  },
                  "line_1": {
                    "description": "Primeira linha do endereço",
                    "type": "string",
                    "example": "375, Av. General Justo, Centro"
                  },
                  "line_2": {
                    "description": "Segunda linha do endereço",
                    "type": "string",
                    "example": "8º andar"
                  },
                  "zip_code": {
                    "description": "Código postal (CEP) do endereço",
                    "type": "string",
                    "example": "20021130"
                  },
                  "city": {
                    "description": "Cidade do endereço",
                    "type": "string",
                    "example": "Rio de Janeiro"
                  },
                  "state": {
                    "description": "Estado do endereço",
                    "type": "string",
                    "example": "RJ"
                  },
                  "country": {
                    "description": "País do endereço",
                    "type": "string",
                    "example": "BR"
                  },
                  "status": {
                    "description": "Status do endereço",
                    "type": "string",
                    "example": "active"
                  },
                  "created_at": {
                    "description": "Data de criação do endereço",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-06T11:46:09Z"
                  },
                  "updated_at": {
                    "description": "Data de atualização do endereço",
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-11-06T11:46:09Z"
                  }
                }
              },
              "created_at": {
                "description": "Data de criação do registro do cliente",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-03T13:48:55Z"
              },
              "updated_at": {
                "description": "Data de atualização do registro do cliente",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-06T20:19:09Z"
              },
              "birthdate": {
                "description": "Data de nascimento do cliente",
                "type": "string",
                "format": "date",
                "example": "2001-01-12"
              },
              "phones": {
                "description": "Informações sobre os telefones do cliente",
                "type": "object",
                "properties": {}
              }
            }
          },
          "status": {
            "description": "Status da resposta",
            "type": "string",
            "example": "success"
          },
          "code": {
            "description": "Código de status da resposta",
            "type": "string",
            "example": "200"
          },
          "message": {
            "description": "Mensagem da resposta",
            "type": "string",
            "example": "Cliente editado com sucesso!"
          }
        }
      },
      "PlanRequest": {
        "type": "object",
        "required": ["nome", "preco"],
        "properties": {
          "nome": {
            "description": "Nome do plano",
            "type": "string",
            "example": "Plano Teste01"
          },
          "preco": {
            "description": "Preço do plano em centavos",
            "type": "number",
            "example": 200
          }
        }
      },
      "PlanResponse": {
        "type": "object",
        "properties": {
          "plano": {
            "type": "object",
            "properties": {
              "id": {
                "description": "ID do plano",
                "type": "string",
                "example": "plan_Db9Y5ZaiBiNmZnoL"
              },
              "name": {
                "description": "Nome do plano",
                "type": "string",
                "example": "Plano Teste01"
              },
              "url": {
                "description": "URL do plano",
                "type": "string",
                "example": "plans/plan_Db9Y5ZaiBiNmZnoL/uniodonto-administradora/plano-teste01"
              },
              "interval": {
                "description": "Intervalo de faturamento",
                "type": "string",
                "example": "month"
              },
              "interval_count": {
                "description": "Contagem do intervalo de faturamento",
                "type": "integer",
                "example": 1
              },
              "billing_type": {
                "description": "Tipo de faturamento",
                "type": "string",
                "example": "prepaid"
              },
              "payment_methods": {
                "description": "Métodos de pagamento aceitos",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["credit_card"]
              },
              "installments": {
                "description": "Número de parcelas",
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": [1]
              },
              "status": {
                "description": "Status do plano",
                "type": "string",
                "example": "active"
              },
              "currency": {
                "description": "Moeda do plano",
                "type": "string",
                "example": "BRL"
              },
              "created_at": {
                "description": "Data de criação do plano",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-03T18:26:38Z"
              },
              "updated_at": {
                "description": "Data de atualização do plano",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-03T18:26:38Z"
              },
              "items": {
                "description": "Itens do plano",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID do item",
                      "type": "string",
                      "example": "pi_kljqwnYTVTkWr1D0"
                    },
                    "name": {
                      "description": "Nome do item",
                      "type": "string",
                      "example": "Plano Teste01"
                    },
                    "quantity": {
                      "description": "Quantidade do item",
                      "type": "integer",
                      "example": 1
                    },
                    "status": {
                      "description": "Status do item",
                      "type": "string",
                      "example": "active"
                    },
                    "created_at": {
                      "description": "Data de criação do item",
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-11-03T18:26:38Z"
                    },
                    "updated_at": {
                      "description": "Data de atualização do item",
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-11-03T18:26:38Z"
                    },
                    "pricing_scheme": {
                      "description": "Esquema de precificação do item",
                      "type": "object",
                      "properties": {
                        "price": {
                          "description": "Preço do item em centavos",
                          "type": "number",
                          "example": 200
                        },
                        "scheme_type": {
                          "description": "Tipo de esquema de precificação do item",
                          "type": "string",
                          "example": "unit"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "status": {
            "description": "Status da resposta",
            "type": "string",
            "example": "success"
          },
          "code": {
            "description": "Código da resposta",
            "type": "string",
            "example": "200"
          },
          "message": {
            "description": "Mensagem da resposta",
            "type": "string",
            "example": "Plano gerado com sucesso!"
          }
        }
      },
      "PlanEditRequest": {
        "type": "object",
        "properties": {
          "nome": {
            "description": "Nome do plano Silver",
            "type": "string",
            "example": "Plano Silver"
          },
          "plano_id": {
            "description": "ID do plano associado",
            "type": "string",
            "example": "plan_Db9Y5ZaiBiNmZnoL"
          },
          "status": {
            "description": "Status do plano Silver",
            "type": "string",
            "example": "active"
          },
          "preco": {
            "description": "Preço do plano em centavos",
            "type": "integer",
            "example": 100000
          },
          "dia_pagamento": {
            "description": "Dia de pagamento do plano Silver",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [25]
          }
        }
      },
      "PlanEditResponse": {
        "type": "object",
        "properties": {
          "plano": {
            "type": "object",
            "properties": {
              "id": {
                "description": "ID do plano Silver",
                "type": "string",
                "example": "plan_Db9Y5ZaiBiNmZnoL"
              },
              "name": {
                "description": "Nome do plano Silver",
                "type": "string",
                "example": "Plano Silver"
              },
              "url": {
                "description": "URL do plano Silver",
                "type": "string",
                "example": "plans/plan_Db9Y5ZaiBiNmZnoL/uniodonto-administradora/plano-silver"
              },
              "minimum_price": {
                "description": "Preço mínimo do plano em centavos",
                "type": "integer",
                "example": 100000
              },
              "interval": {
                "description": "Tipo de intervalo de pagamento",
                "type": "string",
                "example": "month"
              },
              "interval_count": {
                "description": "Número de intervalos de pagamento",
                "type": "integer",
                "example": 1
              },
              "billing_type": {
                "description": "Tipo de cobrança",
                "type": "string",
                "example": "exact_day"
              },
              "billing_days": {
                "description": "Dias de cobrança do plano Silver",
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": [25]
              },
              "payment_methods": {
                "description": "Métodos de pagamento aceitos",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["credit_card"]
              },
              "installments": {
                "description": "Número de parcelas permitidas",
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": [1]
              },
              "status": {
                "description": "Status do plano Silver",
                "type": "string",
                "example": "active"
              },
              "currency": {
                "description": "Moeda do plano",
                "type": "string",
                "example": "BRL"
              },
              "created_at": {
                "description": "Data de criação do plano",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-03T18:26:38Z"
              },
              "updated_at": {
                "description": "Data de atualização do plano",
                "type": "string",
                "format": "date-time",
                "example": "2023-11-06T17:59:24Z"
              },
              "items": {
                "description": "Itens associados ao plano Silver",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID do item associado ao plano",
                      "type": "string",
                      "example": "pi_kljqwnYTVTkWr1D0"
                    },
                    "name": {
                      "description": "Nome do item associado ao plano",
                      "type": "string",
                      "example": "Plano Teste01"
                    },
                    "quantity": {
                      "description": "Quantidade do item associado ao plano",
                      "type": "integer",
                      "example": 1
                    },
                    "status": {
                      "description": "Status do item associado ao plano",
                      "type": "string",
                      "example": "active"
                    },
                    "created_at": {
                      "description": "Data de criação do item associado ao plano",
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-11-03T18:26:38Z"
                    },
                    "updated_at": {
                      "description": "Data de atualização do item associado ao plano",
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-11-03T18:26:38Z"
                    },
                    "pricing_scheme": {
                      "description": "Esquema de precificação do item associado ao plano",
                      "type": "object",
                      "properties": {
                        "price": {
                          "description": "Preço do item em centavos",
                          "type": "integer",
                          "example": 200
                        },
                        "scheme_type": {
                          "description": "Tipo de esquema de precificação do item",
                          "type": "string",
                          "example": "unit"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "status": {
            "description": "Status da operação",
            "type": "string",
            "example": "success"
          },
          "code": {
            "description": "Código da resposta",
            "type": "string",
            "example": "200"
          },
          "message": {
            "description": "Mensagem da operação",
            "type": "string",
            "example": "Plano editado com sucesso!"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}